.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    background-image: url(../img/stock-vector-set-of-weekly-or-daily-planner-and-diaries-vector-flat-illustration-cute-sticker-template-1627255771.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
}

.hero-text {
    background: none;
    color: green;
    position: absolute;
    font-size: 50px;
    text-decoration: none;
    font-weight: none;
    width: 800px;
    right: 250px;
    border: 0px;
}

.latest-items {
    width: 350px;
    padding: 20px;
    position: relative;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.product-thumbtail {
    position: relative;
}
.img-profile {
  max-height: 2.5rem;
  border: 0.1rem solid rgba(64, 64, 64, 0.5);
}

.zi {
  z-index: 999;
}